// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'bulma/bulma';



.section {
  margin: auto;
  overflow: hidden;

}


.portfolio {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem black solid;
}

.nav {
  position: fixed;
  width: 100%;
  padding-bottom: 1rem;
  transition: color 500ms, background 500ms;

  &--dark {
    background: rgba(16, 17, 18, 1.0);

    h1 {
      color: rgba(255, 255, 255, 1.0);
    }
  }
}


.image {
  height: 93vh;
  width: 100%;
  object-fit: cover;



  &-mobile {
    display: block;
    @media(min-width: 730px) {
      display: none;
    }
  }

  &-tablet {
    display: none;
  @media(min-width: 730px) {
    display: block;
  }
}
}

.gif {
  height: 53rem;
  width: 88%;
  object-fit: cover;
  border: 0.1rem solid black;
  border-radius: 3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

  &-boo {
    // padding-bottom: 1rem;
  }

  &-mobile {
    display: block;
    // @media(min-width: 730px) {
    //   display: none;
    // }
  }

  &-desktop {
    display: none;
    // @media(min-width: 730px) {
    //   display: block;
    // }
  }
}
