// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'bulma/bulma';

.app {
  height: 100vh;
  overflow: scroll;
}

.section {
  padding: 1rem;
  overflow: hidden;
  position: relative;

}

.section-about {
  background: rgba(247, 247, 247, 1.0);
}

.about {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.about-img {
  flex-basis: calc(50%);
  height: 20rem;
  width: 50%;
  object-fit: cover;
  margin: 1rem;
}

.general-information {
  flex-basis: calc(50%);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
  padding: 0 1rem 1rem 0;
}

.about-content {
  flex-basis: calc(50%);
  padding: 1rem;
  margin: 1rem;
}

.contact-details {
  justify-content: center;
  padding: 2rem;
  margin: 0 1rem;

  &-title {
    font-size: 4rem;
  }
}

.title {
  font-size: 3rem;
}

.fa {
  font-size: 3.5rem;
  color: rgba(167, 165, 166, 1.0);

  &-envelope {
    margin-right: 1rem;
  }

  &-twitter {
    margin-right: 1rem;
  }

  &-linkedin {
    margin-right: 1rem;
  }

  &-github {
    margin-right: 1rem;
  }

  &-facebook {
    margin-right: 1rem;
  }

  &-phone {
  margin-right: 1rem;
}
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.skills-content {
  padding: 1rem;
}

.portfolio {
  margin: 1rem;
  padding-bottom: 1rem;
}

.nav {
  width: 100%;
  padding-bottom: 1rem;
  transition: color 500ms, background 500ms;

  &--dark {
    position: fixed;
    top: 0;
    background: rgba(247, 247, 247, 1.0);
    color: rgba(255, 255, 255, 1.0);

    }

    &--hidden {
      visibility: hidden;
    }

    &--title {
      visibility: visible;
      transition: visibility 500ms;
    }

  &-item {
    color: white;
  }
}

.columns {
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
}

.column {
filter: grayscale(100%);

  &:hover {
    filter: grayscale(0);
  }

  &-portfolio {
    height: 100vh;
  }

}

.image {
  height: 94vh;
  width: 100%;
  object-fit: cover;




  &-mobile {
    display: block;
    @media(min-width: 730px) {
      display: none;
    }
  }

  &-tablet {
    display: none;
  @media(min-width: 730px) {
    display: block;
  }
}
}

.gif {
  overflow: auto;
  height: 52rem;
  width: 88%;
  margin: 0 auto;
  object-fit: contain;
  padding-left: 1rem;


  &-mobile {
    display: block;
  }

  &-desktop {
    display: none;
  }
}

.name-title {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translate(0, 100%);
  font-size: 1.7rem;

  @media(min-width: 730px) {
    font-size: 3rem;
    top: 0;
    left: 7rem;
    transform: translate(0, 100%);
  }
}


.footer {
  font-size: 1.5rem;

  span {
    font-size: 1.5rem;
  }
  p {
    margin-top: 1rem;
  }
}

.iphone {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translate(0,0);
  z-index: -1;
  height: 85vh;
  border-radius: 3rem;
  max-width: 30rem;
}

.center {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 30%;
}
